* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #EEE;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
  width: 22%;
  margin-bottom: 10px;
  
  
}

.gutter-sizer {
  width: 4%;
}

.grid-item {
  height: 120px;
  float: left;
 
  border: 2px solid #333;
  
  border-radius: 5px;
 
 
}

.grid-item--width2 { width:  48%; }
.grid-item--width3 { width:  48%; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }

